.tabs {
  display: flex;
  flex-flow: column;
  &-navigation {
    margin-bottom: $gap_regular;
  }

  &-menu {
    display: flex;
    flex-flow: row;

    &-item {
      display: flex;
      margin-right: $gap_regular;
      
      a {
        padding: $gap_regular 0;
        text-decoration: none;
        text-transform: capitalize;
      }

      &.is-active {
        border-bottom: 7px solid $color_active_primary;
      }
    }
  }
}