@import 'ataglance';

.dashboard__overview-region {
  display: flex;
  flex-flow: row;
}

.dashboard__navigation-region {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background: #e9e9e9;
}